<h1> New Entry </h1>

<form action="/entries" method="post">
  <p>
    <label for="title">title</label>
    <input type="text" name="title">

    <label for="description">description</label>
    <input type="text" name="description">
  </p>

  <p>
    <label for="occurred_on">occurred_on</label>
    <input type="date" name="occurred_on">
  </p>

  <!-- transfer state from the previous action to the next -->
  <p>
    <input type="hidden" name="place_id" value="<%= @place["id"] %>">
  </p>

  <button>Submit</button>
</form>